# Data Science Tools and Ecosystem

## Objectives:

- List popular languages for Data Science
- List popular Data Science tools
- Introduce popular Data Science libraries
- Simple mathematic code

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. Matplotlib

|Data Science Tools|
--------------------
|Jupyter Notebook|
|Spyder|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Mark DeSimone